<div id="page-loader" class="loader" data-controller="loader" data-loader-target="loader">
  <div class="molecule">
    <div class="nucleus"></div>
    <div class="electron"></div>
    <div class="electron"></div>
    <div class="electron"></div>
  </div>
</div>
