.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.avatar-option {
  display: inline-block;
  margin: 10px;
  cursor: pointer;
}

.selectable-avatar {
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.selectable-avatar:hover {
  border-color: #007bff;
}

.selectable-avatar.selected {
  border-color: #007bff;
}
