@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

$font-family: 'Space Grotesk', sans-serif;

$background-color: #f7f3f8;
$font-color: #170D1C;
$font-accent: #804D94;
$header-footer-bg-color: #f7f3f8; /* Same color as the background */
$text-color: #000000;
$xp-bar-bg-color: #DECCE5;
$xp-bar-fill-color: #A64AC9;
$button-clear-bg-color: #e6dfe8;
$button-submit-bg-color: #9b51e0;
$button-text-color: #ffffff;
$card-bg-color: #ffffff;
$card-text-color: #000000;
$nav-li-hover-color: #EBE0F0;
$footer-height: 40px;
$logo-height: 40px; /* Adjust based on your logo size */
$header-height: 60px; /* Height of the header */
$sidebar-width: 288px; /* Width of the sidebar */
